<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Declared here so consuming apps get the viewer without touching their manifest. -->
    <application>
        <activity
            android:name=".ui.HttpMonitorActivity"
            android:exported="false"
            android:label="@string/http_monitor_title" />

        <activity
            android:name=".ui.TransactionDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.HttpMonitorActivity" />
    </application>

</manifest>
